@charset "UTF-8";

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem;
}

.about-box > span {
  display: inline-block;
  padding: 2rem;
  margin: 0.4rem 0;
  border-radius: 0.4rem;
  background-color: #ffffff;
  font-size: 1.6rem;
  box-shadow: 0rem 0.4rem 0.8rem 0rem hsla(255, 6%, 42%, 0.5);
  user-select: none;
}
